/node_modules
/uploads
/src/plugins
/src/dist
/src/PRICE LIST 17 NOV2020.xlsx
/src/test_sheet.xlsx
/src/CHASSIS IDENTIFICATION AS PER MODELS.xls
/uploads/test_sheet.xlsx
/uploads/CHASSIS IDENTIFICATION AS PER MODELS.xls
/invoice-system-win32-x64
/Estimate system
/Estimate System.zip