<style>
    .estimate-header {
        padding: 2px 0 2px 20px;
        background-color: #d9d9d9;
    }
</style>
<body>
    <div class="wrapper">
        <!-- Main content -->
        <section class="invoice">
          <!-- title row -->
          <div class="row">
            <div class="col-3">
              <h2 class="page-header">
                <i class="fas fa-globe"></i> Oberai Motors
              </h2>
            </div>
            <div class="col-6" style="text-align: center;">
                <h4 class="page-header">
                    <strong>Tata - M/S OBERAI MOTORS - DEHRADUN</strong>
                </h4>
                <p>PO Majra Saharanpur Road, Dehradun, Uttarakhand</p>
                <p>Dehradun - 248001</p>
            </div>
            <div class="col-3">
                <h2 class="page-header">
                    <small class="float-right">Tata Motors Limited</small>
                </h2>
            </div>
            <!-- /.col -->
          </div>

          <div class="row">
              <div class="col-12">
                  <h4 class="page-header">
                      Registration No: UK07DR4401
                      <small class="float-right">Created: 12/07/2020</small>
                  </h4>
              </div>
          </div>
          <!-- info row -->
          <div class="card" style="border: 1.5px solid #000; padding: 5px">
              <div class="row">
                  <div class="col-7">
                      <h6><strong>Name of Owner:</strong> JITENDER DUTT</h6>
                      <h6><strong>Phone:</strong></h6>
                      <h6><strong>Email:</strong></h6>
                      <h6><strong>Vechicle Model:</strong></h6>
                      <h6><strong>Chassis No:</strong></h6>
                  </div>
                  <div class="col-5">
                    <h6><strong>Insurance:</strong></h6>
                    <h6><strong>Policy Number:</strong></h6>
                    <h6><strong>Policy Start Date:</strong></h6>
                    <h6><strong>Policy End Date:</strong></h6>
                    <h6><strong>Loss Date/Time:</strong></h6>
                  </div>
              </div>
          </div>
          <!-- /.row -->
      
        <div class="card">
              <div class="card-header estimate-header">
                  <h3 class="card-title"><strong>PARTS</strong></h3>
              </div>
              <div class="card-body table-responsive p-0">
                  <table class="table">
                      <thead>
                          <tr>
                              <th>Part Number</th>
                              <th>Part Description</th>
                              <th>Quantity</th>
                              <th>Amount (Rs.)</th>
                          </tr>
                      </thead>
                  </table>
              </div>
        </div>

        <div class="card">
            <div class="card-header estimate-header">
                <h3 class="card-title"><strong>Panel/Mechanical Labour</strong></h3>
            </div>
            <div class="card-body table-responsive p-0">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Description</th>
                            <th>Labour Amount (Rs.)</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

        <div class="card">
            <div class="card-header estimate-header">
                <h3 class="card-title"><strong>Tata Paint Schedule</strong></h3>
            </div>
            <div class="card-body table-responsive p-0">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Description</th>
                            <th>Amount (Rs.)</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

        <div class="card">
            <div class="card-header estimate-header">
                <h3 class="card-title"><strong>EXTRAS</strong></h3>
            </div>
            <div class="card-body table-responsive p-0">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Description</th>
                            <th>Amount (Rs.)</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

        <div class="card" style="border: 1.5px solid #000; padding: 0px">
            <div class="card-header estimate-header">
                <h3 class="card-title">Estimate Summary</h3>
            </div>
            <div class="card-body">
                <h6>PARTS</h6>
                <h6>BODY WORK LABOUR</h6>
                <h6>PAINT</h6>
                <h6>EXTRAS</h6>
                <h6><strong>TOTAL</strong></h6>
            </div>
        </div>

        </section>
        <!-- /.content -->
      </div>
      <!-- ./wrapper -->
</body>