<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Sidebar -->
        <%- include('sidebar.ejs'); %>
        <!-- ./Sidebar -->

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Estimate</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Estimate</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <!-- Main row -->
                    <div class="row">
                        <div class="col-12">
                            <div class="card card-primary card-outline card-outline-tabs shadow">
                                <div class="card-header p-0 border-bottom-0">
                                    <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="custom-tabs-four-home-tab" data-toggle="pill"
                                                href="#custom-tabs-four-home" role="tab"
                                                aria-controls="custom-tabs-four-home" aria-selected="true">Personal
                                                Details</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="custom-tabs-four-profile-tab" data-toggle="pill"
                                                href="#custom-tabs-four-profile" role="tab"
                                                aria-controls="custom-tabs-four-profile" aria-selected="false">Vehicle
                                                Details</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="custom-tabs-four-messages-tab" data-toggle="pill"
                                                href="#custom-tabs-four-messages" role="tab"
                                                aria-controls="custom-tabs-four-messages" aria-selected="false">Policy
                                                Details</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="custom-tabs-four-settings-tab" data-toggle="pill"
                                                href="#custom-tabs-four-settings" role="tab"
                                                aria-controls="custom-tabs-four-settings"
                                                aria-selected="false">Parts</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="custom-tabs-four-mech-labour-tab" data-toggle="pill"
                                                href="#custom-tabs-four-mech-labour" role="tab"
                                                aria-controls="custom-tabs-four-mech-labour" aria-selected="false">Mechanical Labour</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="custom-tabs-four-paint-tab" data-toggle="pill"
                                                href="#custom-tabs-four-paint" role="tab"
                                                aria-controls="custom-tabs-four-paint" aria-selected="false">Paint Schedule</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="custom-tabs-four-extras-tab" data-toggle="pill"
                                                href="#custom-tabs-four-extras" role="tab"
                                                aria-controls="custom-tabs-four-extras" aria-selected="false">Extras</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="custom-tabs-four-preview-tab" data-toggle="pill"
                                                href="#custom-tabs-four-preview" role="tab"
                                                aria-controls="custom-tabs-four-preview" aria-selected="false">Preview</a>
                                        </li>
                                    </ul>
                                </div>
                                
                                <form action="/invoice" method="post">
                                    <div class="card-body">
                                        <div class="tab-content" id="custom-tabs-four-tabContent">
                                            <!-- Personal Details Tab -->
                                            <div class="tab-pane fade show active" id="custom-tabs-four-home"
                                                role="tabpanel" aria-labelledby="custom-tabs-four-home-tab">
                                                <div class="container" style="margin-top: 20px;">
                                                    <!-- Customer Name -->
                                                    <div class="form-group row">
                                                        <div class="col-md-2 col-form-label">
                                                            <label class="required-field" for="customer_name">Name of
                                                                Owner</label>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <input type="text" class="form-control preview-control" placeholder="Full Name"
                                                                id="customer_name" name="customer_name" required>
                                                        </div>
                                                    </div>
                                                    <!-- End of Customer Name -->
    
                                                    <!-- Phone -->
                                                    <div class="form-group row">
                                                        <div class="col-md-2 col-form-label">
                                                            <label class="required-field" for="phone_number">Phone</label>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <input type="number" class="form-control preview-control" placeholder="Phone"
                                                                id="phone_number" name="phone_number" required>
                                                        </div>
                                                    </div>
                                                    <!-- End of Phone -->
    
                                                    <!-- Email -->
                                                    <div class="form-group row">
                                                        <div class="col-md-2 col-form-label">
                                                            <label class="required-field" for="customer_email">Email</label>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <input type="email" class="form-control preview-control" placeholder="Email"
                                                                id="customer_email" name="customer_email" required>
                                                        </div>
                                                    </div>
                                                    <!-- End of Email -->
                                                </div>
                                            </div>
                                            <!-- End of Personal Details Tab -->
    
                                            <!-- Vehicle Details Tab -->
                                            <div class="tab-pane fade" id="custom-tabs-four-profile" role="tabpanel"
                                                aria-labelledby="custom-tabs-four-profile-tab">
                                                <div class="container" style="margin-top: 20px;">
                                                    <!-- Chasis Number -->
                                                    <div class="form-group row">
                                                        <div class="col-md-2 col-form-label">
                                                            <label for="chasis_number">VIN</label>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <input type="text" class="form-control preview-control"
                                                                placeholder="Chassis Number" id="chasis_number" name="chasis_number" pattern="[a-zA-Z0-9]+">
                                                        </div>
                                                    </div>
                                                    <!-- End of Chasis Number -->
    
                                                    <!-- Registration Number -->
                                                    <div class="form-group row">
                                                        <div class="col-md-2 col-form-label">
                                                            <label class="required-field"
                                                                for="registration_number">Registration
                                                                Number</label>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <input type="text" class="form-control"
                                                                placeholder="Registration Number" id="registration_number" name="registration_number"
                                                                required>
                                                        </div>
                                                    </div>
                                                    <!-- End of Registration Number -->
    
                                                    <!-- Vehicle Model -->
                                                    <div class="form-group row">
                                                        <div class="col-md-2 col-form-label">
                                                            <label for="vehicle_model">Vehicle Model</label>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <input type="text" class="form-control preview-control"
                                                                placeholder="Vehicle Model" id="vehicle_model" name="vehicle_model" readonly>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <button type="button" class="btn btn-sm btn-info mt-1"
                                                                id="vehicle_model_edit">
                                                                <i class="fas fa-pencil-alt"></i>
                                                            </button>
                                                            <button type="button" class="btn btn-sm btn-success mt-1"
                                                                id="vehicle_model_save" style="display: none;">
                                                                <i class="fas fa-save"></i>
                                                            </button>
                                                            <button type="button" class="btn btn-sm btn-danger mt-1 ml-2"
                                                                id="vehicle_model_cancel" style="display: none;">
                                                                <i class="fas fa-times"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <!-- End of Vehicle Model -->
    
                                                    <!-- Estimate/Job Number -->
                                                    <div class="form-group row">
                                                        <div class="col-md-2 col-form-label">
                                                            <label for="estimate_number">Estimate/Job Number</label>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <input type="text" class="form-control"
                                                                placeholder="Estimate Number" id="estimate_number">
                                                        </div>
                                                    </div>
                                                    <!-- End of Estimate/Job Number -->
                                                </div>
                                            </div>
                                            <!-- End of Vehicle Details Tab -->
    
                                            <!-- Policy Details Tab -->
                                            <div class="tab-pane fade" id="custom-tabs-four-messages" role="tabpanel"
                                                aria-labelledby="custom-tabs-four-messages-tab">
                                                <div class="container" style="margin-top: 20px;">
                                                    <!-- Policy Number -->
                                                    <div class="form-group row">
                                                        <div class="col-md-2 col-form-label">
                                                            <label class="required-field" for="policy_number">Policy
                                                                Number</label>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <input type="text" class="form-control preview-control"
                                                                placeholder="Policy Number" id="policy_number" name="policy_number" required>
                                                        </div>
                                                    </div>
                                                    <!-- End of Policy Number -->
    
                                                    <!-- Policy Start Date -->
                                                    <div class="form-group row">
                                                        <div class="col-md-2 col-form-label">
                                                            <label for="policy_start_date">Policy Start Date</label>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <input type="date" class="form-control preview-control" placeholder="dd/mm/yyyy"
                                                                id="policy_start_date" name="policy_start_date">
                                                        </div>
                                                    </div>
                                                    <!-- End of Policy Start Date -->
    
                                                    <!-- Policy End Date -->
                                                    <div class="form-group row">
                                                        <div class="col-md-2 col-form-label">
                                                            <label for="policy_end_date">Policy End Date</label>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <input type="date" class="form-control preview-control" placeholder="dd/mm/yyyy"
                                                                id="policy_end_date" name="policy_end_date">
                                                        </div>
                                                    </div>
                                                    <!-- End of Policy End Date -->
    
                                                    <!-- Loss Date -->
                                                    <div class="form-group row">
                                                        <div class="col-md-2 col-form-label">
                                                            <label class="required-field" for="loss_date">Loss
                                                                Date/Time</label>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <input type="date" class="form-control preview-control" placeholder=""
                                                                id="loss_date" name="loss_date" required>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <input type="time" class="form-control preview-control" placeholder=""
                                                                id="loss_time" name="loss_time" required>
                                                        </div>
                                                    </div>
                                                    <!-- End of Loss Date -->
    
                                                    <!-- Insurance Company -->
                                                    <div class="form-group row">
                                                        <div class="col-md-2 col-form-label">
                                                            <label class="required-field" for="insurance_company">Insurance
                                                                Company</label>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <select class="form-control preview-control" id="insurance_company" name="insurance_company" required>
                                                                <option value="select">Insurance Company</option>
                                                                <option value="Bajaj Allianz General Insurance Co. Ltd.">Bajaj Allianz General Insurance Co. Ltd.</option>
                                                                <option value="Bharti Axa General Insurance Co. Ltd.">Bharti Axa General Insurance Co. Ltd.</option>
                                                                <option value="Cash Only">Cash Only</option>
                                                                <option value="Cholamandalam MS General Insurance Co. Ltd.">Cholamandalam MS General Insurance Co. Ltd.</option>
                                                                <option value="Edelweiss General Insurance Co.">Edelweiss General Insurance Co.</option>
                                                                <option value="Future Generali Insurance Co. Ltd.">Future Generali Insurance Co. Ltd.</option>
                                                                <option value="HDFC ERGO General Insurance Co. Ltd.">HDFC ERGO General Insurance Co. Ltd.</option>
                                                                <option value="ICICI Lombard General Insurance Co. Ltd.">ICICI Lombard General Insurance Co. Ltd.</option>
                                                                <option value="Iffco Tokio General Insurance Co. Ltd.">Iffco Tokio General Insurance Co. Ltd.</option>
                                                                <option value="Kotak Mahindra General Insurance Co. Ltd.">Kotak Mahindra General Insurance Co. Ltd.</option>
                                                                <option value="L and T General Insurance Co. Ltd.">L and T General Insurance Co. Ltd.</option>
                                                                <option value="Liberty Videocon General Insurance Co. Ltd.">Liberty Videocon General Insurance Co. Ltd.</option>
                                                                <option value="Magma HDI General Insurance Co. Ltd.">Magma HDI General Insurance Co. Ltd.</option>
                                                                <option value="National General Insurance Co. Ltd.">National General Insurance Co. Ltd.</option>
                                                                <option value="NETMAR">NETMAR</option>
                                                                <option value="Reliance General Insurance Co. Ltd.">Reliance General Insurance Co. Ltd.</option>
                                                                <option value="Royal Sundaram General Insurance Co. Ltd.">Royal Sundaram General Insurance Co. Ltd.</option>
                                                                <option value="SBI General Insurance Co. Ltd.">SBI General Insurance Co. Ltd.</option>
                                                                <option value="Shriram General Insurance Co. Ltd.">Shriram General Insurance Co. Ltd.</option>
                                                                <option value="Tata AIG General Insurance Co. Ltd.">Tata AIG General Insurance Co. Ltd.</option>
                                                                <option value="The New India Assurance Co. Ltd.">The New India Assurance Co. Ltd.</option>
                                                                <option value="The Oriental Insurance Co. Ltd.">The Oriental Insurance Co. Ltd.</option>
                                                                <option value="United India Insurance Co. Ltd.">United India Insurance Co. Ltd.</option>
                                                                <option value="Universal Sompo General Insurance Co. Ltd.">Universal Sompo General Insurance Co. Ltd.</option>
                                                                <option value="Digit Insurance">Digit Insurance</option>
                                                                <option value="Acko General Insurance">Acko General Insurance</option>
                                                                <option value="DHFL General Insurance">DHFL General Insurance</option>
                                                                <option value="others">Others</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <input type="text" class="form-control preview-control"
                                                                placeholder="Please Specify" id="insurance_company_others" name="insurance_company_others"
                                                                style="display: none;">
                                                        </div>
                                                    </div>
                                                    <!-- End of Insurance Company -->
    
                                                    <!-- Claim Number -->
                                                    <div class="form-group row">
                                                        <div class="col-md-2 col-form-label">
                                                            <label for="claim_number">Claim Number</label>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <input type="text" class="form-control"
                                                                placeholder="Claim Number" id="claim_number">
                                                        </div>
                                                    </div>
                                                    <!-- End of Claim Number -->
    
                                                    <!-- Service Advisor -->
                                                    <div class="form-group row">
                                                        <div class="col-md-2 col-form-label">
                                                            <label for="service_advisor">Service Advisor Name</label>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <input type="text" class="form-control" placeholder="Full Name"
                                                                id="service_advisor">
                                                        </div>
                                                    </div>
                                                    <!-- End of Service Advisor -->
                                                </div>
                                            </div>
                                            <!-- End of Policy Details Tab -->
    
                                            <!-- Parts Tab -->
                                            <div class="tab-pane fade" id="custom-tabs-four-settings" role="tabpanel"
                                                aria-labelledby="custom-tabs-four-settings-tab">
                                                <div class="container">
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <div class="form-group row" id="parts_input">
                                                                <div class="col-md-4">
                                                                    <input type="text" class="form-control"
                                                                        placeholder="Part Number" id="add_part_number">
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <input list="part_descriptions" class="form-control"
                                                                        placeholder="Part Description"
                                                                        id="add_part_description">
                                                                    <datalist id="part_descriptions">
                                                                    </datalist>
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <input type="number" class="form-control"
                                                                        placeholder="Quantity" id="add_part_quantity">
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <button class="btn btn-sm btn-primary mt-1" type="button"
                                                                        id="add_part">
                                                                        <i class="fas fa-plus mr-2"></i>Add Part
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card-body table-responsive p-0">
                                                            <input type="hidden" name="parts[]" id="partsData">
                                                            <table
                                                                class="table table-sm table-hover table-head-fxed text-nowrap"
                                                                id="parts_table">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Part Number</th>
                                                                        <th>Part Name</th>
                                                                        <th>Quantity</th>
                                                                        <th>Amount</th>
                                                                        <th style="width: 2vw;"></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody id="parts_table_body"></tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End of Parts Tab -->
    
                                            <!-- Mechanical Labour Tab -->
                                            <div class="tab-pane fade" id="custom-tabs-four-mech-labour" role="tabpanel"
                                                aria-labelledby="custom-tabs-four-mech-labour-tab">
                                                <div class="container">
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <div class="form-group row" id="labour_input">
                                                                <div class="col-md-6">
                                                                    <input class="form-control"
                                                                        placeholder="Description"
                                                                        id="add_labour_description">
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <input type="number" class="form-control"
                                                                        placeholder="Amount" id="add_labour_amount">
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <button class="btn btn-sm btn-primary mt-1" type="button"
                                                                        id="add_labour">
                                                                        <i class="fas fa-plus mr-2"></i>Add
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card-body table-responsive p-0">
                                                            <input type="hidden" name="labour[]" id="labourData">
                                                            <table
                                                                class="table table-sm table-hover table-head-fxed text-nowrap"
                                                                id="labour_table">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Description</th>
                                                                        <th>Amount</th>
                                                                        <th style="width: 2vw;"></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody id="labour_table_body"></tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End of Mechanical Labour Tab -->
    
                                            <!-- Paint Schedule -->
                                            <div class="tab-pane fade" id="custom-tabs-four-paint" role="tabpanel"
                                                aria-labelledby="custom-tabs-four-paint-tab">
                                                <div class="container">
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <div class="form-group row" id="paint_input">
                                                                <div class="col-md-6">
                                                                    <input class="form-control"
                                                                        placeholder="Description"
                                                                        id="add_paint_description">
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <input type="number" class="form-control"
                                                                        placeholder="Amount" id="add_paint_amount">
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <button class="btn btn-sm btn-primary mt-1" type="button"
                                                                        id="add_paint">
                                                                        <i class="fas fa-plus mr-2"></i>Add
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card-body table-responsive p-0">
                                                            <input type="hidden" name="paint[]" id="paintData">
                                                            <table
                                                                class="table table-sm table-hover table-head-fxed text-nowrap"
                                                                id="paint_table">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Description</th>
                                                                        <th>Amount</th>
                                                                        <th style="width: 2vw;"></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody id="paint_table_body"></tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End of Paint Schedule -->
    
                                            <!-- Extras -->
                                            <div class="tab-pane fade" id="custom-tabs-four-extras" role="tabpanel"
                                                aria-labelledby="custom-tabs-four-extras-tab">
                                                <div class="container">
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <div class="form-group row" id="extras_input">
                                                                <div class="col-md-6">
                                                                    <input class="form-control"
                                                                        placeholder="Description"
                                                                        id="add_extras_description">
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <input type="number" class="form-control"
                                                                        placeholder="Amount" id="add_extras_amount">
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <button class="btn btn-sm btn-primary mt-1" type="button"
                                                                        id="add_extras">
                                                                        <i class="fas fa-plus mr-2"></i>Add
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card-body table-responsive p-0">
                                                            <input type="hidden" name="extras[]" id="extrasData">
                                                            <table
                                                                class="table table-sm table-hover table-head-fxed text-nowrap"
                                                                id="extras_table">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Description</th>
                                                                        <th>Amount</th>
                                                                        <th style="width: 2vw;"></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody id="extras_table_body"></tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End of Extras -->
    
                                            <!-- Preview -->
                                            <div class="tab-pane fade" id="custom-tabs-four-preview" role="tabpanel"
                                                aria-labelledby="custom-tabs-four-preview-tab">
                                                <div class="container">
                                                    <div class="card card-secondary card-outline">
                                                        <div class="card-body">
                                                            <div class="row">
                                                                <div class="col-2">
                                                                    <h6><strong>Name of Owner:</strong></h6>
                                                                </div>
                                                                <div class="col-4" style="text-align: left;">
                                                                    <h6 id="preview_customer_name"></h6>
                                                                </div>
                                                                <div class="col-2">
                                                                    <h6><strong>Insurance:</strong></h6>
                                                                </div>
                                                                <div class="col" style="text-align: left;">
                                                                    <h6 id="preview_insurance_company"></h6>
                                                                </div>
                                                            </div>
                                                
                                                            <div class="row">
                                                                <div class="col-2">
                                                                    <h6><strong>Phone:</strong></h6>
                                                                </div>
                                                                <div class="col-4" style="text-align: left;">
                                                                    <h6 id="preview_phone_number"></h6>
                                                                </div>
                                                                <div class="col-2">
                                                                    <h6><strong>Policy Number:</strong></h6>
                                                                </div>
                                                                <div class="col" style="text-align: left;">
                                                                    <h6 id="preview_policy_number"></h6>
                                                                </div>
                                                            </div>
                                                
                                                            <div class="row">
                                                                <div class="col-2">
                                                                    <h6><strong>Email:</strong></h6>
                                                                </div>
                                                                <div class="col-4" style="text-align: left;">
                                                                    <h6 id="preview_customer_email"></h6>
                                                                </div>
                                                                <div class="col-2">
                                                                    <h6><strong>Policy Start Date:</strong></h6>
                                                                </div>
                                                                <div class="col" style="text-align: left;">
                                                                    <h6 id="preview_policy_start_date"></h6>
                                                                </div>
                                                            </div>
                                                
                                                            <div class="row">
                                                                <div class="col-2">
                                                                    <h6><strong>Vechicle Model:</strong></h6>
                                                                </div>
                                                                <div class="col-4" style="text-align: left;">
                                                                    <h6 id="preview_vehicle_model"></h6>
                                                                </div>
                                                                <div class="col-2">
                                                                    <h6><strong>Policy End Date:</strong></h6>
                                                                </div>
                                                                <div class="col" style="text-align: left;">
                                                                    <h6 id="preview_policy_end_date"></h6>
                                                                </div>
                                                            </div>
                                                
                                                            <div class="row">
                                                                <div class="col-2">
                                                                    <h6><strong>Chassis No:</strong></h6>
                                                                </div>
                                                                <div class="col-4" style="text-align: left;">
                                                                    <h6 id="preview_chasis_number"></h6>
                                                                </div>
                                                                <div class="col-2">
                                                                    <h6><strong>Loss Date/Time:</strong></h6>
                                                                </div>
                                                                <div class="col" style="text-align: left;">
                                                                    <h6 id="preview_loss_date_time"></h6>
                                                                </div>
                                                            </div>
                                                        </div> 
                                                    </div>
    
                                                    <div class="card card-secondary card-outline">
                                                        <div class="card-header">
                                                            <h3 class="card-title">Parts</h3>
                                                        </div>
                                                        <div class="card-body">
                                                            <table
                                                                class="table table-sm table-hover table-head-fxed text-nowrap preview_table"
                                                                id="parts_table_preview">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Part Number</th>
                                                                        <th>Part Name</th>
                                                                        <th>Quantity</th>
                                                                        <th>Amount</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody id="parts_table_preview_body"></tbody>
                                                            </table>
                                                        </div>
                                                    </div>
    
                                                    <div class="card card-secondary card-outline">
                                                        <div class="card-header">
                                                            <h3 class="card-title">Panel/Mechanical Labour</h3>
                                                            <div class="card-tools">
                                                                <button class="btn btn-tool" id="labour-tab">
                                                                    <i class="fas fa-edit"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <div class="card-body">
                                                            <table class="table table-sm table-hover table-head-fxed text-nowrap preview_table" id="labour_table_preview">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Description</th>
                                                                        <th style="width: 10vw;">Amount</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody id="labour_table_preview_body"></tbody>
                                                            </table>
                                                        </div>
                                                    </div>
    
                                                    <div class="card card-secondary card-outline">
                                                        <div class="card-header">
                                                            <h3 class="card-title">Tata Paint Schedule</h3>
                                                            <div class="card-tools">
                                                                <button class="btn btn-tool" id="paint-tab">
                                                                    <i class="fas fa-edit"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <div class="card-body">
                                                            <table class="table table-sm table-hover table-head-fxed text-nowrap preview_table" id="paint_table_preview">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Description</th>
                                                                        <th style="width: 10vw;">Amount</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody id="paint_table_preview_body"></tbody>
                                                            </table>
                                                        </div>
                                                    </div>
    
                                                    <div class="card card-secondary card-outline">
                                                        <div class="card-header">
                                                            <h3 class="card-title">Extras</h3>
                                                            <div class="card-tools">
                                                                <button class="btn btn-tool" id="extras-tab">
                                                                    <i class="fas fa-edit"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <div class="card-body">
                                                            <table class="table table-sm table-hover table-head-fxed text-nowrap preview_table" id="extras_table_preview">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Description</th>
                                                                        <th  style="width: 10vw;">Amount</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody id="extras_table_preview_body"></tbody>
                                                            </table>
                                                        </div>
                                                    </div>
    
                                                    <div class="card card-secondary card-outline">
                                                        <div class="card-header">
                                                            <h3 class="card-title">Estimate Summary</h3>
                                                        </div>
                                                        <div class="card-body">
                                                            <div class="row">
                                                                <div class="col-8">
                                                                    <h6>PARTS</h6>
                                                                </div>
                                                                <div class="col-4" style="text-align: right; padding-right: 7vw;">
                                                                    <h6 id="parts_total_preview"></h6>
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col-8">
                                                                    <h6>BODY WORK LABOUR</h6>
                                                                </div>
                                                                <div class="col-4" style="text-align: right; padding-right: 7vw;">
                                                                    <h6 id="labour_total_preview"></h6>
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col-8">
                                                                    <h6>PAINT</h6>
                                                                </div>
                                                                <div class="col-4" style="text-align: right; padding-right: 7vw;">
                                                                    <h6 id="paint_total_preview"></h6>
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col-8">
                                                                    <h6>EXTRAS</h6>
                                                                </div>
                                                                <div class="col-4" style="text-align: right; padding-right: 7vw;">
                                                                    <h6 id="extras_total_preview"></h6>
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col-8">
                                                                    <h6><strong>TOTAL</strong></h6>
                                                                </div>
                                                                <div class="col-4" style="text-align: right; padding-right: 7vw;">
                                                                    <h6 id="estimate_total_preview" style="font-weight: bold;"></h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
    
                                                    <div class="float-right">
                                                        <button type="submit" class="btn btn-success" style="width: 15vw;"><i class="fas fa-print mr-2"></i> Print</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End of Preview -->
                                        </div>
                                    </div>
                                </form>
                                <!-- /.card -->
                            </div>
                        </div>
                    </div>
                    <!-- /.row (main row) -->
                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <strong>Copyright &copy; 2020 <a href="#">Tata Motors</a>.</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 1.1.0
            </div>
        </footer>
    </div>
    <!-- ./wrapper -->

    <script>
        //require('../renderer.js');
    </script>
    <!-- Insert this line above script imports  -->
    <script>
        if (typeof module === 'object') {
            window.module = module;
            module = undefined;
        }
    </script>
    <!-- jQuery -->
    <script src="plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- daterangepicker -->
    <script src="plugins/moment/moment.min.js"></script>
    <!-- SweetAlert2 -->
    <script src="plugins/sweetalert2/sweetalert2.min.js"></script>
    <script src="plugins/daterangepicker/daterangepicker.js"></script>
    <!-- overlayScrollbars -->
    <script src="plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="dist/js/adminlte.js"></script>
    <!-- Custom JS for fetching data -->
    <script src="dist/js/data.js"></script>


    <script>

        /* window.addEventListener('beforeunload', function (e) {
            // Cancel the event
            e.preventDefault(); // If you prevent default behavior in Mozilla Firefox prompt will always be shown
            // Chrome requires returnValue to be set
            e.returnValue = "All data entered will be lost. Are you sure to continue?";
        }); */

        $('.preview-control').on("change", function() {
            var id = $(this).attr("id");
            if(id === 'loss_date' || id === 'loss_time') {
                var value = $('#loss_date').val() + " " + $('#loss_time').val();
                $('#preview_loss_date_time').text(value);
            }
            else if(id === "insurance_company_others") {
                $('#preview_insurance_company').text($(this).val());
            }
            else {
                $('#preview_'+id).text($(this).val());
            }
        });
        
    </script>

    <script>
        var today = new Date();
        today = today.toISOString().split('T')[0];
        $('#policy_start_date').attr("max", today);
        $('#policy_end_date').attr("max", today);
        $('#loss_date').attr("max", today);


        $('#policy_start_date').on("change", function() {
            var policyStartDate = $(this).val();
            var policyEndDate = $('#policy_end_date').val();
            if(policyEndDate != "" &&  policyStartDate > policyEndDate) {
                Swal.fire({
                    icon: 'error',
                    title: "Invalid Policy Start and End Date!",
                    text: "Policy Start Date cannot be greater than Policy End Date"
                })
                .then(() => {
                    $(this).val("");
                    $('#policy_end_date').val("");
                });
            }
            
        });

        $('#policy_end_date').on("change", function() {
            var policyEndDate = $(this).val();
            var policyStartDate = $('#policy_start_date').val();
            if(policyStartDate != "" &&  policyStartDate > policyEndDate) {
                Swal.fire({
                    icon: 'error',
                    title: "Invalid Policy Start and End Date!",
                    text: "Policy Start Date cannot be greater than Policy End Date"
                })
                .then(() => {
                    $(this).val("");
                    $('#policy_start_date').val("");
                });
            }
        });

        $('#loss_date').on("change", function() {
            var lossDate = $(this).val();
            var policyStartDate = $('#policy_start_date').val();
            var policyEndDate = $('#policy_end_date').val();

            if(policyStartDate != "" && policyStartDate > lossDate) {
                Swal.fire({
                    icon: 'error',
                    title: "Invalid Loss Date!",
                    text: "Policy Start Date cannot be greater than Loss Date"
                })
                .then(() => {
                    $(this).val("");
                    $('#policy_start_date').val("");
                });
            }

            if(policyEndDate != "" && policyEndDate < lossDate) {
                Swal.fire({
                    icon: 'error',
                    title: "Invalid Loss Date!",
                    text: "Policy End Date cannot be less than Loss Date"
                })
                .then(() => {
                    $(this).val("");
                    $('#policy_end_date').val("");
                });
            }
        });
    </script>

    <script>
        var vehicle_model = document.getElementById('vehicle_model');
        var edit_button = document.getElementById('vehicle_model_edit');
        var save_button = document.getElementById('vehicle_model_save');
        var cancel_button = document.getElementById('vehicle_model_cancel');
        var vehicle_model_text;
        edit_button.onclick = function () {
            vehicle_model_text = vehicle_model.value;
            this.style.display = "none";
            save_button.style.display = "inline-block";
            cancel_button.style.display = "inline-block";
            vehicle_model.readOnly = false;
        };
        save_button.onclick = function () {
            this.style.display = "none";
            cancel_button.style.display = "none";
            edit_button.style.display = "inline-block";
            vehicle_model.readOnly = true;
        };
        cancel_button.onclick = function () {
            vehicle_model.value = vehicle_model_text;
            $('#preview_vehicle_model').text(vehicle_model_text);
            this.style.display = "none";
            save_button.style.display = "none";
            edit_button.style.display = "inline-block";
            vehicle_model.readOnly = true;
        };
    </script>
    <script>
        document.getElementById('insurance_company').onchange = function () {
            if (this.value === 'others') {
                document.getElementById('insurance_company_others').style.display = "block";
                document.getElementById('insurance_company_others').required = true;
            }
            else {
                document.getElementById('insurance_company_others').style.display = "none";
                document.getElementById('insurance_company_others').required = false;
    
            }
        };
    </script>
    <script>
        var Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000
        });
        
        //Get Car Model based on chassis number from the server
        $('#chasis_number').on("change", function() {
            if($(this).val() == "") {
                Toast.fire({
                    icon: 'error',
                    title: 'Please input chassis number'
                });
            }
            else {
                var url = "http://localhost:5000/get-model/?chassis_no=" + $(this).val();
                fetch(url)
                .then(res =>  res.json())
                .then(json => {
                    if(!json) {
                        $('#vehicle_model').val("");
                        $('#preview_vehicle_model').text("");
                    }
                    else {
                        $('#vehicle_model').val(json["model"]);
                        $('#preview_vehicle_model').text(json["model"]);
                        var url = "http://localhost:5000/get-parts/?part_id=" + json["part_id"];
    
                        //Generate part description dropdown from data received from the server
                        fetch(url)
                        .then(res => res.json())
                        .then(json => {
                            var data = '';
                            Object.entries(json).forEach(function(element, i) {
                                //console.log(element[1][4].substring(3));
                                data = data + '<option id="'+ element[1][1] +'" value="'+ element[1][2] +'" amount="'+ element[1][4].substring(3) +'">' + element[1][2] + '</option>';
                            });
                            $('#part_descriptions').empty();
                            $('#part_descriptions').append(data);
                        });
                    }
                });
            }
        });
    
        //Auto-fill part number if part description is selected
        $('#add_part_description').on("change", function() {
            $('#add_part_number').val($('#part_descriptions option[value="'+ $(this).val() +'"]').attr("id"));
        });
    
        //Auto-fill part description if part number is entered
        $('#add_part_number').on("input", function() {
           var id = $(this).val();
            $('#add_part_description').val($('#part_descriptions option').filter(function() {
                return ($(this).attr("id") == id);
            }).val());
        });
    
    
        
        $('#add_part').on("click", function () {
            var fields = $('#parts_input input').filter(function () {
                return !this.value;
            });
            if (fields.length) {
                Toast.fire({
                    icon: 'error',
                    title: 'Please input the details'
                });
                Object.entries(fields).forEach(element => {
                    $('#' + element[1]["id"]).addClass("is-invalid");;
                });
            }
            else {
                var parts_data = '<tr id="' + $('#add_part_number').val() + '">';
                var parts_data_preview = '<tr id="' + $('#add_part_number').val() + '">';
                var amount = $('#part_descriptions option[value="'+ $('#add_part_description').val() +'"]').attr("amount");
                parts_data = parts_data + '<td>' + $('#add_part_number').val() + '</td><td>' + $('#add_part_description').val() + '</td><td>' + $('#add_part_quantity').val() + '</td><td>' + amount + '</td><td><button type="button" class="btn btn-sm btn-danger btn-table"><i class="fas fa-times"></i></button></td></tr>';
                parts_data_preview = parts_data_preview + '<td>' + $('#add_part_number').val() + '</td><td>' + $('#add_part_description').val() + '</td><td>' + $('#add_part_quantity').val() + '</td><td>' + amount + '</td></tr>';


                $("#parts_table_body").append(parts_data);
                $("#parts_table_preview_body").append(parts_data_preview);
                $('#parts_input input').val("");
                $('#parts_table').trigger("partsUpdate");
            }
        });

        $(document).on("click", "button.btn-table", function () {
            var id = $(this).parent().parent().attr("id");
            var tableType = $(this).parent().parent().parent().parent().attr("id");
            $('#' + id).remove();
            $('.preview_table #'+id).remove();
            if(tableType == "parts_table") {
                $('#parts_table').trigger("partsUpdate");
            }
            else if(tableType == "labour_table") {
                $('#labour_table').trigger("labourUpdate");
            }
            else if(tableType == "paint_table") {
                $('#paint_table').trigger("paintUpdate");
            }
            else if(tableType == "extras_table") {
                $('#extras_table').trigger("extrasUpdate");
            }
        });
    </script>
    <script>
        $('#add_part_number').on("focus", function () {
            $(this).removeClass("is-invalid");
        });
        $('#add_part_description').on("focus", function () {
            $(this).removeClass("is-invalid");
        });
        $('#add_part_quantity').on("focus", function() {
            $(this).removeClass("is-invalid");
        });
    </script>
    <script>
        var Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000
        });
        $('#add_labour').on("click", function () {
            var fields = $('#labour_input input').filter(function () {
                return !this.value;
            });
            if (fields.length) {
                Toast.fire({
                    icon: 'error',
                    title: 'Please input the details'
                });
                Object.entries(fields).forEach(element => {
                    $('#' + element[1]["id"]).addClass("is-invalid");;
                });
            }
            else {
                var id = Math.floor(100000 + Math.random() * 900000);
                var labour_data = '<tr id="'+ id +'">';
                var labour_data_preview = '<tr id="'+ id +'">';
                labour_data = labour_data + '<td>' + $('#add_labour_description').val() + '</td><td>' + parseFloat($('#add_labour_amount').val()).toFixed(2) + '</td><td><button type="button" class="btn btn-sm btn-danger btn-table"><i class="fas fa-times"></i></button></td></tr>';
    
                labour_data_preview = labour_data_preview + '<td>' + $('#add_labour_description').val() + '</td><td>' + parseFloat($('#add_labour_amount').val()).toFixed(2) + '</td></tr>';
    
                $("#labour_table_body").append(labour_data);
                $("#labour_table_preview_body").append(labour_data_preview);
                $('#labour_input input').val("");
                $('#labour_table').trigger("labourUpdate");
            }
        });
    
        $('#add_labour_description').on("focus", function() {
            $(this).removeClass("is-invalid");
        });
        $('#add_labour_amount').on("focus", function() {
            $(this).removeClass("is-invalid");
        });
    </script>
    <!-- Script for Paint Section -->
    <script>
        var Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000
        });
        $('#add_paint').on("click", function () {
            var fields = $('#paint_input input').filter(function () {
                return !this.value;
            });
            if (fields.length) {
                Toast.fire({
                    icon: 'error',
                    title: 'Please input the details'
                });
                Object.entries(fields).forEach(element => {
                    $('#' + element[1]["id"]).addClass("is-invalid");;
                });
            }
            else {
                var id = Math.floor(200000 + Math.random() * 900000);
                var paint_data = '<tr id="'+ id +'">';
                var paint_data_preview = '<tr id="'+ id +'">';
    
                paint_data = paint_data + '<td>' + $('#add_paint_description').val() + '</td><td>' + parseFloat($('#add_paint_amount').val()).toFixed(2) + '</td><td><button type="button" class="btn btn-sm btn-danger btn-table"><i class="fas fa-times"></i></button></td></tr>';
                
                paint_data_preview = paint_data_preview + '<td>' + $('#add_paint_description').val() + '</td><td>' + parseFloat($('#add_paint_amount').val()).toFixed(2) + '</td></tr>';
    
                $("#paint_table_body").append(paint_data);
                $("#paint_table_preview_body").append(paint_data_preview);
                $('#paint_input input').val("");
                $('#paint_table').trigger("paintUpdate");
    
            }
        });
    
        $('#add_paint_description').on("focus", function() {
            $(this).removeClass("is-invalid");
        });
        $('#add_paint_amount').on("focus", function() {
            $(this).removeClass("is-invalid");
        });
    </script>
    <!-- End of script for Paint Section -->
    <script>
        var Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000
        });
        $('#add_extras').on("click", function () {
            var fields = $('#extras_input input').filter(function () {
                return !this.value;
            });
            if (fields.length) {
                Toast.fire({
                    icon: 'error',
                    title: 'Please input the details'
                });
                Object.entries(fields).forEach(element => {
                    $('#' + element[1]["id"]).addClass("is-invalid");;
                });
            }
            else {
                var id = Math.floor(300000 + Math.random() * 900000);
                var extras_data = '<tr id="'+ id +'">';
                var extras_data_preview = '<tr id="'+ id +'">';
    
                extras_data = extras_data + '<td>' + $('#add_extras_description').val() + '</td><td>' + parseFloat($('#add_extras_amount').val()).toFixed(2) + '</td><td><button class="btn btn-sm btn-danger btn-table"><i class="fas fa-times"></i></button></td></tr>';
    
                extras_data_preview = extras_data_preview + '<td>' + $('#add_extras_description').val() + '</td><td>' + parseFloat($('#add_extras_amount').val()).toFixed(2) + '</td></tr>';
    
                $("#extras_table_body").append(extras_data);
                $("#extras_table_preview_body").append(extras_data_preview);
                $('#extras_input input').val("");
                $('#extras_table').trigger("extrasUpdate");
            }
        });
    
        $('#add_extras_description').on("focus", function() {
            $(this).removeClass("is-invalid");
        });
        $('#add_extras_amount').on("focus", function() {
            $(this).removeClass("is-invalid");
        });
    </script>

    <script>
        $(document).ready(function() {
            $(document).on("partsUpdate", function() {
                var partsData = [];
                var partsTotal = 0;
                $('#parts_table tbody tr').each(function(index, value) {
                    var row =  GetPartsRow(index);
                    partsData.push(row);
                });
                $('#partsData').val(JSON.stringify(partsData));
                $('#parts_total_preview').text(partsTotal);
                $(this).trigger("totalUpdate");
                    // Read the row into an object
                function GetPartsRow(rowNum)
                {
                    var row = $('#parts_table tbody tr').eq(rowNum);

                    var myObject = {};

                    var partCost = row.find('td:eq(3)').text();
                    partCost = partCost.split(",").join("");
                    var temp = Number(partCost);
                    partsTotal = Number(partsTotal) + temp;
                    partsTotal = partsTotal.toFixed(2);
                    
                    myObject.PartNumber = row.find('td:eq(0)').text();
                    myObject.PartName = row.find('td:eq(1)').text();
                    myObject.Quantity = row.find('td:eq(2)').text();
                    myObject.Amount = row.find('td:eq(3)').text();
                    return myObject;
                }

            });
        });

        $(document).ready(function() {
            $(document).on("labourUpdate", function() {
                var labourData = [];
                var labourTotal = 0;
                $('#labour_table tbody tr').each(function(index, value) {
                    var row =  GetLabourRow(index);
                    labourData.push(row);
                });
                $('#labourData').val(JSON.stringify(labourData));
                $('#labour_total_preview').text(labourTotal);
                $(this).trigger("totalUpdate");
                    // Read the row into an object
                function GetLabourRow(rowNum)
                {
                    var row = $('#labour_table tbody tr').eq(rowNum);

                    var myObject = {};
                    var labourCost = row.find('td:eq(1)').text();
                    labourCost = Number(labourCost);
                    labourTotal = Number(labourTotal) + labourCost;
                    labourTotal = labourTotal.toFixed(2);
                    myObject.Description = row.find('td:eq(0)').text();
                    myObject.Amount = row.find('td:eq(1)').text();
                    return myObject;
                }
            });
        });

        $(document).ready(function() {
            $(document).on("paintUpdate", function() {
                var paintData = [];
                var paintTotal = 0;
                $('#paint_table tbody tr').each(function(index, value) {
                    var row =  GetPaintRow(index);
                    paintData.push(row);
                });
                $('#paintData').val(JSON.stringify(paintData));
                $('#paint_total_preview').text(paintTotal);
                $(this).trigger("totalUpdate");
                    // Read the row into an object
                function GetPaintRow(rowNum)
                {
                    var row = $('#paint_table tbody tr').eq(rowNum);

                    var myObject = {};
                    var paintCost = row.find('td:eq(1)').text();
                    paintCost = Number(paintCost);
                    paintTotal = Number(paintTotal) + paintCost;
                    paintTotal = paintTotal.toFixed(2);
                    myObject.Description = row.find('td:eq(0)').text();
                    myObject.Amount = row.find('td:eq(1)').text();
                    return myObject;
                }
            });
        });

        $(document).ready(function() {
            $(document).on("extrasUpdate", function() {
                var extrasData = [];
                var extrasTotal = 0;
                $('#extras_table tbody tr').each(function(index, value) {
                    var row =  GetExtrasRow(index);
                    extrasData.push(row);
                });
                $('#extrasData').val(JSON.stringify(extrasData));
                $('#extras_total_preview').text(extrasTotal);
                $(this).trigger("totalUpdate");
                    // Read the row into an object
                function GetExtrasRow(rowNum)
                {
                    var row = $('#extras_table tbody tr').eq(rowNum);

                    var myObject = {};
                    var extrasCost = row.find('td:eq(1)').text();
                    extrasCost = Number(extrasCost);
                    extrasTotal = Number(extrasTotal) + extrasCost;
                    extrasTotal = extrasTotal.toFixed(2);
                    myObject.Description = row.find('td:eq(0)').text();
                    myObject.Amount = row.find('td:eq(1)').text();
                    return myObject;
                }
            });
        });

        $(document).ready(function() {
            $(document).on("totalUpdate", function() {
                var partsTotal = $('#parts_total_preview').text();
                var labourTotal = $('#labour_total_preview').text();
                var paintTotal = $('#paint_total_preview').text();
                var extrasTotal = $('#extras_total_preview').text();
                var estimateTotal = Number(partsTotal) + Number(labourTotal) + Number(paintTotal) + Number(extrasTotal);
                estimateTotal = estimateTotal.toFixed(2);
                $('#estimate_total_preview').text(estimateTotal);
            });
        });
    </script>
</body>