<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
     <!-- Sidebar -->
     <%- include('sidebar.ejs'); %>
     <!-- ./Sidebar -->
  
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0">Files</h1>
              </div><!-- /.col -->
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active">Files</li>
                </ol>
              </div><!-- /.col -->
            </div><!-- /.row -->
          </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
  
        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <!-- Main row -->
            <div class="row">
              <div class="col-12">
                <div class="card card-primary card-outline shadow">
                  <div class="card-body table-responsive" id="table_load">
                    <!-- <div class="row">
                      <div class="col-md-6">
                        <form action="/file-upload" method="post" enctype="multipart/form-data">
                          <div class="form-group">
                            <div class="custom-file">
                              <input type="file" class="custom-file-input" id="customFile" name="inputFile">
                              <label class="custom-file-label" for="customFile">Choose File</label>
                            </div>
                          </div>
                          <div class="form-group">
                            <button class="btn btn-success" type="submit">Submit</button>
                          </div>
                        </form>
                      </div>
                    </div> -->
  
                    <table class="table table-hover table-bordered text-nowrap" style="display: none;">
                      <thead>
                        <tr>
                          <th>File Name</th>
                          <th style="width: 25vw">Uploaded On</th>
                          <th style="width: 10vw"></th>
                        </tr>
                      </thead>
                      <tbody id="table_body"></tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.row (main row) -->
          </div><!-- /.container-fluid -->
  
          <div class="modal fade" id="modal-files">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Upload File</h4>
                  <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button> -->
                </div>
                <div class="modal-body">
                  <form action="http://localhost:5000/file-upload" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                      <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFile" name="inputFile">
                        <label class="custom-file-label" for="customFile">Choose File</label>
                      </div>
                    </div>
                    <div class="form-group">
                      <button class="btn btn-success float-right" type="submit">Submit</button>
                    </div>
                  </form>
                </div>
                <div class="modal-footer justify-content-center">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <!-- <button type="button" class="btn btn-success">Save changes</button> -->
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
          <!-- /.modal -->
        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->
      <footer class="main-footer">
        <strong>Copyright &copy; 2020 <a href="#">Tata Motors</a>.</strong>
        All rights reserved.
        <div class="float-right d-none d-sm-inline-block">
          <b>Version</b> 1.1.0
        </div>
      </footer>
    </div>
    <!-- ./wrapper -->
    
    <!-- jQuery -->
    <script src="plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- daterangepicker -->
    <script src="plugins/moment/moment.min.js"></script>
    <script src="plugins/daterangepicker/daterangepicker.js"></script>
    <!-- overlayScrollbars -->
    <script src="plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="dist/js/adminlte.js"></script>
    <!-- Insert this line after script imports -->
  
    <script>
      let loader = '<div class="overlay"><i class="fas fa-2x fa-sync-alt fa-spin"></i></div>';
      $('#table_load').append(loader);
      fetch("http://localhost:5000/get-files")
      .then(res => res.json())
      .then(json => {
        var data = '';
        for(k in json) {
          var fileName = Object.keys(json[k]);
          var date = Object.values(json[k]);
          data = data + '<tr><td>' + fileName + '</td><td>' + date + '</td><td><button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#modal-files"><i class="fas fa-upload"></i></button><button class="btn btn-success btn-sm ml-2"><i class="fas fa-download"></i></button></td></tr>';
        }
        $('#table_body').empty();
        $('#table_body').append(data);
        $('table').show();
      });
      $('#table_load .overlay').remove();
    </script>
  </body>