<style>
  .file-cards {
    height: 25vw;
    width: 35vw;
  }
  .file-cards:hover {
    transform: scale(1.05);
    box-shadow: 0 20px 30px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  }
</style>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
     <!-- Sidebar -->
     <%- include('sidebar.ejs'); %>
     <!-- ./Sidebar -->
  
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0">Files</h1>
              </div><!-- /.col -->
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active">Files</li>
                </ol>
              </div><!-- /.col -->
            </div><!-- /.row -->
          </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
  
        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <!-- Main row -->
            <div class="row">
              <div class="col-12">
                <div class="card card-primary card-outline shadow">
                  <div class="card-body table-responsive" id="table_load">
                    <div class="row">
                      <div class="col">
                        <div class="card card-secondary file-cards">
                          <div class="card-body">
                            <div class="text-center">
                              <img class="profile-user-img img-fluid img-circle" src="/images/user2.jpg" alt="User profile picture">
                            </div>
                            <h3 class="profile-username text-center mt-3">Credentials</h3>
                            <div id="credentials-section" style="margin-top: 2vw;"></div>
                            <p class="text-muted text-center" id="credentials-file"></p>
                            <div style="text-align: center; margin-top: 4vw;">
                              <button class="btn btn-primary w-25 button-file" id="credentialsFile" data-toggle="modal" data-target="#modal-files"><i class="fas fa-upload"></i></button>                            
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="card card-secondary file-cards">
                          <div class="card-body">
                            <div class="text-center">
                              <img class="profile-user-img img-fluid img-circle" src="/images/car-parts1.png" alt="User profile picture">
                            </div>
                            <h3 class="profile-username text-center mt-3">Parts</h3>
                            <div id="parts-section" style="margin-top: 2vw;"></div>
                            <p class="text-muted text-center" id="parts-file"></p>
                            <div style="text-align: center; margin-top: 4vw;">
                              <button class="btn btn-primary w-25 button-file" id="partsFile" data-toggle="modal" data-target="#modal-files"><i class="fas fa-upload"></i></button>                            
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
            <!-- /.row (main row) -->
          </div><!-- /.container-fluid -->
  
          <!-- Credentials File Modal -->
          <div class="modal fade" id="modal-files">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Upload File</h4>
                  <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button> -->
                </div>
                <div class="modal-body">
                  <form action="http://localhost:5000/file-upload" method="post" enctype="multipart/form-data" id="fileUploadForm">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="custom-file">
                          <input type="hidden" name="fileType" id="fileType">
                          <input type="file" class="custom-file-input"  name="inputFile" id="customFile" required>
                          <label class="custom-file-label" for="customFile">Choose File</label>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button class="btn btn-success float-right" type="submit">Submit</button>
                </div>
              </form>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
          <!-- /. Credentials File Modal -->

        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->
      <footer class="main-footer">
        <strong>Copyright &copy; 2020 <a href="#">Tata Motors</a>.</strong>
        All rights reserved.
        <div class="float-right d-none d-sm-inline-block">
          <b>Version</b> 1.1.0
        </div>
      </footer>
    </div>
    <!-- ./wrapper -->
    <!-- Insert this line above script imports  -->
    <script>
      if (typeof module === 'object') {
          window.module = module;
          module = undefined;
      }
  </script>
    <!-- jQuery -->
    <script src="plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- daterangepicker -->
    <script src="plugins/moment/moment.min.js"></script>
    <script src="plugins/daterangepicker/daterangepicker.js"></script>
    <!-- overlayScrollbars -->
    <script src="plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="dist/js/adminlte.js"></script>
    <!-- Insert this line after script imports -->
  
    <script>
      fetch("http://localhost:5000/get-files")
      .then(res => res.json())
      .then(json => {
        var data = '';
        for(k in json) {
          var fileName = Object.keys(json[k]);
          var temp = Object.values(json[k][fileName]);
          var date = "Last Modified on " + temp[0];
          if(temp[1] == "Credentials") {
            $('#credentials-file').text(date);
          }
          else if(temp[1] == "Parts") {
            $('#parts-file').text(date);
          }
        }
      });
    </script>
    <script>
      $('.button-file').on("click", function() {
        if($(this).attr("id") == "credentialsFile") {
          $('#fileType').val("credentials");
        }
        else if($(this).attr("id") == "partsFile") {
          $('#fileType').val("parts");
        }
        else {
          $('#fileType').val("");
        }
      });
    </script>
  </body>