<style>
    .bord {
        border: 1px solid #000;
    }
</style>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
     <!-- Sidebar -->
     <%- include('sidebar.ejs'); %>
     <!-- ./Sidebar -->
  
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-1">
                    <img src="/images/OM_LOGO_icon.png" alt="OBERAI Motors" class="brand-image img-circle elevation-3" style="opacity: .8; height: 15vh; width: 6vw">
              </div>
              <div class="col-sm-6" style="text-align: center;">
                <h1 class="mt-3">TATA - M/S OBERAI MOTORS - DEHRADUN</h1>
                <p class="m-0">PO Majra Saharanpur Road, Dehradun, Uttarakhand</p> 
                <p class="m-0">Dehradun-248001</p>
              </div><!-- /.col -->
              <!-- <div class="col-sm-5">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="/home">Home</a></li>
                </ol>
              </div> -->
              <!-- /.col -->
            </div><!-- /.row -->
          </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
  
        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <!-- Main row -->
            <div class="row">
              <div class="col-12">
                <div class="card card-primary card-outline shadow">
                  <div class="card-body">
                    <div class="row">
                        <h4>Welcome <%= user%></h1>
                    </div>
                    <div class="row">
                      <p id="session-timeout"> </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.row (main row) -->
          </div><!-- /.container-fluid -->

        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->
      <footer class="main-footer">
        <strong>Copyright &copy; 2020 <a href="#">Tata Motors</a>.</strong>
        All rights reserved.
        <div class="float-right d-none d-sm-inline-block">
          <b>Version</b> 1.1.0
        </div>
      </footer>
    </div>
    <!-- ./wrapper -->
    <!-- Insert this line above script imports  -->
    <script>
      if (typeof module === 'object') {
          window.module = module;
          module = undefined;
      }
  </script>
    <!-- jQuery -->
    <script src="plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- daterangepicker -->
    <script src="plugins/moment/moment.min.js"></script>
    <script src="plugins/daterangepicker/daterangepicker.js"></script>
    <!-- overlayScrollbars -->
    <script src="plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="dist/js/adminlte.js"></script>
    <!-- Insert this line after script imports -->
    <script>
      var start_time = <%= startTime %>;
      var timer = setInterval(function() {
        var hours = Math.floor((start_time % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((start_time % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((start_time % (1000 * 60)) / 1000);
        if(start_time > 0) {
          var data = 'Current session expires in: ' + hours + ' hrs ' + minutes + ' min ' + seconds + ' sec';
          $('#session-timeout').html(data);
        }
        else {
          clearInterval(timer);
          window.location.href = 'http://localhost:5000/logout';
        }
        start_time -= 1000;
      }, 1000);
    </script>
  </body>