<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline' 'unsafe-eval';" />
    <title>Tata Motors</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="plugins/daterangepicker/daterangepicker.css">
</head>
<style>
    .required-field::after {
        content: "*";
        color: red;
    }

    .btn-table {
        height: 25px;
        padding-top: 2px;
    }
    
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

    /* Firefox */
    input[type=number] {
    -moz-appearance: textfield;
    }
</style>

<body>
    <%- body%>
</body>
<!-- SweetAlert2 -->
<script src="plugins/sweetalert2/sweetalert2.min.js"></script>
<script>
    var urlParams = new URLSearchParams(window.location.search);
    var type = urlParams.toString().split('=');
    if(type[0] == 'error') {
        if(type[1] == 'IncorrectPassword') {
            Swal.fire({
                icon: 'error',
                title: "Wrong Password !",
                text: "Please enter correct password"
            });
        }
        else if(type[1] == 'UserNotFound') {
            Swal.fire({
                icon: 'error',
                title: "User Not Found",
                text: "Please check the username again."
            });
        }
        else if(type[1] == "Login") {
            Swal.fire({
                icon: 'error',
                title: "Session not found",
                text: "Please login to access the dashboard."
            });
        }
        else if(type[1] == "SavingError") {
            Swal.fire({
                icon: 'error',
                title: "Error",
                text: "There was some error saving file. Please try again."
            }).then((result) => {
                if(result.isConfirmed) {
                    window.history.pushState({}, document.title, "/estimate");
                }
            });
        }
        else if(type[1] == "LIMIT_FILE_SIZE") {
            Swal.fire({
                icon: 'error',
                title: "Error",
                text: "File is too large. Please upload a file less than 20MB."
            }).then((result) => {
                if(result.isConfirmed) {
                    window.history.pushState({}, document.title, "/files");
                }
            });
        }
        else if(type[1] == "ReportDownload") {
            Swal.fire({
                icon: 'error',
                title: "Error",
                text: "There was some problem downloading the file. Please try again later."
            }).then((result) => {
                if(result.isConfirmed) {
                    window.history.pushState({}, document.title, "/reports");
                }
            });
        }
        else if(type[1] == "FileNotFound") {
            Swal.fire({
                icon: 'error',
                title: "Error",
                text: "The requested file could not be found."
            }).then((result) => {
                if(result.isConfirmed) {
                    window.history.pushState({}, document.title, "/reports");
                }
            });
        }
    }
    else if(type[0] == 'success') {
        if(type[1] == 'Authentication') {
            Swal.fire({
                icon: 'success',
                title: "Authentication Successful",
            }).then((result) => {
                if(result.isConfirmed) {
                    window.history.pushState({}, document.title, "/home");
                }
            });
        }
        else if(type[1] == 'Logout') {
            Swal.fire({
                icon: 'success',
                title: "Logout Successful",
            });
        }
        else if(type[1] == "FileUpload") {
            Swal.fire({
                icon: 'success',
                title: "File Uploaded Successfully",
            }).then((result) => {
                if(result.isConfirmed) {
                    window.history.pushState({}, document.title, "/files");
                }
            });
        }
    }
</script>
<script>
    var url = window.location.pathname;
    url = url.substr(1);
    $('.nav-link').removeClass('active');
    $('#'+url).addClass('active');
</script>
</html>