<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
      <!-- Sidebar -->
      <%- include('sidebar.ejs'); %>
      <!-- ./Sidebar -->
  
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0">Dashboard</h1>
              </div><!-- /.col -->
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active">Reports</li>
                </ol>
              </div><!-- /.col -->
            </div><!-- /.row -->
          </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
  
        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <!-- Main row -->
            <div class="row">
              <div class="col-12">
                <div class="card card-primary card-outline shadow">
                  <div class="card-header">
                    <h3 class="card-title">Report</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-info btn-sm" style="width: 5vw;">
                            <i class="fas fa-download"></i>
                        </button>
                    </div>
                  </div>
                  <div class="card-body" id="table_load">
                    <table class="table table-sm table-head-fxed table-bordered table-hover" id="reports_table">
                      <thead id="table_header"></thead>
                      <tbody id="table_body"></tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.row (main row) -->
          </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->
      <footer class="main-footer">
        <strong>Copyright &copy; 2020 <a href="#">Tata Motors</a>.</strong>
        All rights reserved.
        <div class="float-right d-none d-sm-inline-block">
          <b>Version</b> 1.1.0
        </div>
      </footer>
    </div>
    <!-- ./wrapper -->

    <!-- jQuery -->
    <script src="plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  
    <!-- DataTables  & Plugins -->
    <script src="plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <!-- daterangepicker -->
    <script src="plugins/moment/moment.min.js"></script>
    <script src="plugins/daterangepicker/daterangepicker.js"></script>
    <!-- overlayScrollbars -->
    <script src="plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="dist/js/adminlte.js"></script>

    <script>
        let loader = '<div class="overlay"><i class="fas fa-2x fa-sync-alt fa-spin"></i></div>';
        $('#table_load').append(loader);
        fetch("http://localhost:5000/get-report")
          .then(res => res.json())
          .then(json => {
            var sheet_name = Object.keys(json)[0];
            var data = json[sheet_name].slice(1);
            var tableHead = '<tr>';
            tableHead = tableHead + '<th>' + json[sheet_name][0]["A"] + '</th><th>' + json[sheet_name][0]["B"] + '</th>';
            tableHead = tableHead + '</tr>';
            $('#table_header').empty();
            $('#table_header').append(tableHead);
      
            var tableData = '';
            data.forEach(element => {
              tableData = tableData + '<tr><td>' + element["A"] + '</td><td>' + element["B"] + '</td></tr>';
            });
            $('#table_body').empty();
            $('#table_body').append(tableData);
      
            $("#parts_table").DataTable({
              "responsive": true,
              "lengthChange": true,
              "autoWidth": false,
              "searching":true,
              "processing": true,
              "lengthMenu": [ 100, 200, 500, 1000 ],
          });
      
          $('#table_load .overlay').remove();
          });
      </script>
</body>
